.projectPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(120, 101, 101);
}

.title {
    font-size: 5rem;
    font-weight: bold;
}