.aboutwrapper {
  display: grid;
  grid-template-columns: 1.65fr 1fr;
  width: 100%;
}

.aboutvisual {
  position: sticky;
  top: 95px;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  background: transparent;
}

.aboutimage {
  transition: opacity 0.4s ease, transform 0.4s ease;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.75);
}

.aboutcontent {
  display: flex;
  flex-direction: column;
}

.aboutsection {
  min-height: 40vh;
  margin-bottom: 1.5rem;
}

.aboutsection h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.aboutdescription {
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: .85;
  border: none;
}

@media (max-width: 1025px) {
  .aboutvisual {
    margin-right: 1rem;
  }
  .aboutimage {
    width: 85%;
    max-width: 300px;
    max-height: max-content;
  }
}

@media (max-width: 900px) {
  .aboutwrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .aboutvisual {
    position: relative;
    top: 0;
    margin: 0 auto;
    justify-content: center;
  }

  .aboutimage {
    width: 80%;
    max-width: 300px;
    max-height: max-content;
  }

  .aboutsection {
    min-height: auto;
  }

  .aboutsection h3 {
    font-size: 2rem;
    text-align: center;
  }

  .aboutdescription {
    text-align: center;
    font-size: 1.1rem;
  }
}

@media (max-width: 550px) {
  .aboutvisual {
    display: none;
  }

  .aboutsection h3 {
    margin-top: 1rem;
  }
}