.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 36vh;
    background-color: #0B0F18;
    color: white;
}

.footerContainer {
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: space-between;
    padding: 3rem 0;
}

.footerProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerTitle {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.footerDescription {
    font-size: 1rem;
    line-height: 1rem;
}

.footerSocials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 20px;
    width: 100%;
}

.logoContainer a {
    display: flex;
    align-items: center;
}

.logoLink {
    background-color: white;
    border-radius: 10px;
    padding: 0.1rem;
    transition: 0.3s;
}

.logoLink:hover {
    transition: 0.3s;
    scale: calc(1.1);
}

.footerDivider {
    width: 90%;
    height: 0.5%;
    background-color: gray;
}

.footerEndText {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 19.5%;
}

/* Tablette */

@media (max-width: 1025px) {
  .footer {
    height: auto;
  }

  .footerContainer {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    height: auto;
    padding: 2rem 0;
  }

  .footerProfile,
  .footerSocials {
    align-items: center;
    text-align: center;
  }

  .footerDivider {
    height: 1px;
    margin: 1rem 0;
  }

  .footerDescription {
    line-height: 1.4rem;
  }
}

/* Tablette */

@media (max-width: 768px) {
  .footer {
    height: 50vh;
    padding: 0;
  }

  .footerTitle {
    font-size: 1.5rem;
  }

  .footerDescription {
    font-size: 1.2rem;
  }

  .logoContainer {
    gap: 3rem;
  }

  .logoLink {
    height: 65px;
    width: 65px;
  }

  .footerEndText {
    height: auto;
    margin-top: 0.5rem;
  }

  .footerEndText p {
    font-size: 1rem;
    margin: 0;
  }
}

@media (max-width: 550px) {
  .footer {
    height: 46vh;
  }

  .footerContainer{
    gap: 1rem;
    padding: auto;
  }

  .footerTitle {
    font-size: 1.3rem;
  }

  .footerDescription {
    font-size: 1rem;
  }

  .logoContainer {
    gap: 3rem;
  }

  .logoLink {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 320px) {
  .footerTitle {
    font-size: 1.1rem;
  }

  .footerDescription {
    font-size: 0.9rem;
  }

  .footerEndText p {
    font-size: 0.9rem;
  }
}
